<div class="shop-item-card"
     data-regions="<%= Shop::Regionalizable::REGION_CODES.join(',') %>"
     data-price="0"
     data-categories=""
     data-achievement-locked="false">
  <div class="shop-item-card__image-wrap">
    <%= image_tag "https://cdn.hackclub.com/019e9a29-c521-7e71-9c4f-10a20547ec66/outpostshopimage.png", alt: "Outpost Ticket", class: "shop-item-card__image", loading: "lazy" %> 
    <span class="shop-item-card__ribbon shop-item-card__ribbon--new">Coming soon</span>
  </div>
  <div class="shop-item-card__body">
    <h3 class="shop-item-card__title">Outpost Ticket</h3>
    <div class="shop-item-card__description">Come to a 4-day hardware hackathon in SF + Exhibit at Open Sauce! June 14 - 19.<a href="https://outpost.hackclub.com">More</a></div>
<%= render ActionButtonComponent.new(
          text: "Coming soon",
          size: :large,
          variant: :primary,
          class: "shop-item-card__order-cta",
          disabled: true
        ) %>
  </div>
</div>
