<%# locals: title:, users:, value_method:, current_user_rank: nil %>

<section class="leaderboard-section">
  <header class="leaderboard-section__header">
    <h2 class="leaderboard-section__title"><%= title %></h2>
    <p class="leaderboard-section__meta"><%= pluralize(users.size, "stargazer") %></p>
  </header>

  <ol class="leaderboard-section__list">
    <% users.each_with_index do |user, index| %>
      <%= render "leaderboard/row", user: user, rank: index + 1, value_method: value_method %>
    <% end %>
  </ol>
</section>
