<section class="mission-browse-widget" aria-label="Go on a mission">
  <h3 class="mission-browse-widget__title">Go on a mission</h3>
  <p class="mission-browse-widget__body">
    Want to try out a special challenge to get exclusive prizes? Try going on a mission!
  </p>
  <button type="button"
          class="action-btn action-btn--small action-btn--primary mission-browse-widget__btn"
          onclick="document.getElementById('mission-browse-modal').showModal()">
    Browse missions
  </button>
</section>
