<dialog class="md-help" data-markdown-preview-target="helpDialog">
  <div class="md-help__content">
    <div class="md-help__header">
      <h3 class="md-help__title">Markdown guide</h3>
      <button type="button" class="md-help__close" data-action="markdown-preview#closeHelp" aria-label="Close">&times;</button>
    </div>
    <table class="md-help__table">
      <thead>
        <tr>
          <th>Style</th>
          <th>Syntax</th>
        </tr>
      </thead>
      <tbody>
        <tr><td><strong>Bold</strong></td><td><code>**bold**</code></td></tr>
        <tr><td><em>Italic</em></td><td><code>*italic*</code></td></tr>
        <tr><td><s>Strikethrough</s></td><td><code>~~text~~</code></td></tr>
        <tr><td><code>Inline code</code></td><td><code>`code`</code></td></tr>
        <tr><td>Link</td><td><code>[text](url)</code></td></tr>
        <tr><td>Heading</td><td><code># H1 &ensp; ## H2 &ensp; ### H3</code></td></tr>
        <tr>
          <td>Code block</td>
          <td><code>```lang<br>&ensp;code<br>```</code></td>
        </tr>
        <tr><td>Bulleted list</td><td><code>- item</code></td></tr>
        <tr><td>Numbered list</td><td><code>1. item</code></td></tr>
        <tr><td>Task list</td><td><code>- [ ] task</code></td></tr>
      </tbody>
    </table>
  </div>
</dialog>
