<div class="guest-banner" role="status">
  <% if visitor? %>
    <p class="guest-banner__copy">
      You are browsing as a guest.
      <%= link_to "Sign up", helpers.root_path, class: "guest-banner__link" %>
      (or <%= link_to "log in", helpers.root_path, class: "guest-banner__link" %>) to start making projects!
    </p>
  <% else %>
    <p class="guest-banner__copy">
      you're browsing as a guest. create a hack club account to like, comment, and create projects!!
    </p>
    <%= button_to "make (or link) a HCA!", helpers.hack_club_auth_path, method: :post, class: "guest-banner__cta", form: { class: "guest-banner__form" }, data: { turbo: false } %>
  <% end %>
</div>
