<%= render "notifications/inbox/actor", notification: notification %>
<span class="notifications-item__verb"> mentioned you</span>
<% project = notification.resolve_project %>
<% if project %>
  <span class="notifications-item__verb"> on</span>
  <%= link_to project.title, project_path(project), class: "notifications-item__actor" %>
<% end %>
